body{
    background: #5a5a5a;
    color: #fff;
    text-align: center;
}
#app {
    width: 500px;
    margin: 50px auto;
}

h1 {}

.break {
    float: right;
}

.panel-break,.panel-session {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.session {
    float: left;
}

.timer {
    border: 2px solid #61c500;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 10;
    position: absolute;
    cursor: default;
}

.panel:after {
    content: ' ';
    display: block;
    clear: both;
}

.timer-title {
    margin-top: 70px;
    font-size: 30px;
}

.timer-screen {
    margin-top: 70px;
    font-size: 60px;
}

.block-content button {
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
}

.block-content {
    font-size: 20px;
}

.block-title {}
.timer-wrapper{
    width: 300px;
    margin: auto;
    position: relative;
}

.bg-session,.bg-break,.bg-cover{
    width: 290px;
    height: 290px;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    z-index: 1;
}
.bg-session{
    background: #61c500;
}
.bg-break{
    background: #ffc404;
}
.bg-cover{
    background: #5a5a5a;
    width: 300px;
    height: 300px;
    top: 7px;
    left: 2px;
    border-radius: inherit;
}